.box{
    border: 2px solid tomato;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow:0px 0px 30px rgb(180, 199, 152);
    
}
.box2{
    border: 2px solid tomato;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow:0px 0px 30px rgb(107, 143, 211);
}